@import url("https://unpkg.com/@tailwindcss/typography@0.3.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&family=Montserrat:wght@500;600;700&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap");

.headerFont {
  font-family: "Castoro";
}

.tabFont {
  font-family: "Montserrat";
}

.bodyFont {
  font-family: "Noto Sans KR";
}

.homeLabelChildPadding {
  padding-bottom: 44.5920304%;
}

.imageRed {
  color: rgb(207,75,70);
}


.bgImageOffWhite {
  background-color: rgb(234,218,181);
}

html {
  height: 100%;
  overflow: hidden;
}
