@import url("https://unpkg.com/@tailwindcss/typography@0.3.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frijole&family=Montserrat:wght@500;600;700&family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap");

.headerFont {
  font-family: "Castoro";
}

.tabFont {
  font-family: "Montserrat";
}

.bodyFont {
  font-family: "Noto Sans KR";
}

.homeLabelChildPadding {
  padding-bottom: 44.5920304%;
}

.imageRed {
  color: rgb(207,75,70);
}

main {
  background-size: cover;
}


.bgImageOffWhite {
  background-color: rgb(234,218,181);
}

@media screen and (max-width: 539px){
  .nameTab {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-left: 1.125rem;
    margin-right: 0.5rem;
    margin-top: 0.6rem;
    letter-spacing: -0.025em;
  }

  .tabsDiv {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    line-height: 1rem;
  }

  .activeNav {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    padding-top: 0.125rem;
  }
}

@media screen and (max-width: 410px){
  .nameTab {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    letter-spacing: -0.025em;
  }

  .tabsDiv {
    font-size: 0.875rem;
    margin-left: 0.5rem;
    margin-top: 0.125rem;
    line-height: 1rem;
  }

  .activeNav {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    padding-top: 0.125rem;
  }
}


@media screen and (max-width: 359px){
  .nameTab {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-left: 0.75rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    letter-spacing: -0.025em;
  }

  .tabsDiv {
    font-size: 0.75rem;
    margin-left: 0.75rem;
    line-height: 1.25rem;
  }

  .activeNav {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

  @media screen and (max-width: 319px){
    .nameTab {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-left: 0.5rem;
      margin-right: 0.25rem;
      margin-top: 0.75rem;
      letter-spacing: -0.025em;
    }
  
    .tabsDiv {
      font-size: 0.75rem;
      margin-left: 0.125rem;
      margin-top: 0.125rem;
      line-height: 1.25rem;
    }

    .activeNav {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }



